<div class="add-image-continer">

  <mat-tab-group class="add-image-options">

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">add_a_photo</mat-icon>
        Add from your camera
      </ng-template>
      <app-from-camera class="add-image-option"
        (getImage)="handleImgFromCamera($event)"
      ></app-from-camera>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">attach_file</mat-icon>
        Add from your local folders
      </ng-template>
      <app-from-local class="add-image-option" (getImage)="handleImgFromLocal($event)"></app-from-local>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">image_search</mat-icon>
        Add by search
      </ng-template>
      <app-from-online class="add-image-option"
        (getImage)="handleImgFromOnline($event)"
      ></app-from-online>
    </mat-tab>

  </mat-tab-group>

  <section class="add-image-resulat">

    <div class="add-image-img" >
      <label class="previous-view">Previous View</label>
      <img [src]="image"/>
    </div>
    
    <section class="add-image-result-buttons">
      <button class="add-image-select" mat-fab (click)="selectIamge()"><mat-icon>check</mat-icon></button>
      <button class="add-image-remove" mat-fab (click)="removeImage()"><mat-icon>close</mat-icon></button>
    </section>
    <button class="add-image-done" routerLink="/gallery">Done</button>

  </section>

</div>
