
.list-icon-private-on{
    color: chartreuse;
}
.list-icon-private-off{
    color: coral;
}

.list-icon-location{
    color: chartreuse;
    
}

.list-icon-favorite-on{
    color: chartreuse;
    
}
.list-icon-favorite-off{
    color: coral;

}