.page-container{
    position: relative;
    height: 100vh;
}



.page{
    padding: 3em;
    padding-top: 7em;
}



.top-toolbar{
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: var(--primary-color);
    height: 8vh;

}

.top-toolbar span{
    font-size: 2rem;
    margin-left: 0.5em;
    cursor: default;
}

.page-sidenav {
    width: 13vw;
    background-color: var(--primary-transparent-color);
}

