
.navbr-{

}

.logo{
    height: 100%;
    width: 100%;
    background-color: tomato;
}

.navbar-continer{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar-item{
    position: relative;
}

.navbar-item button{
    position: relative;
    width: 120%;
    height: 100%;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 700;
}