<div class="pos">
    <div class="navbar-continer">
        <div class="navbar-items">
            <a routerLink="/" class="logo">My Websit</a>
            <ul class="navbar-li-items">
                <li><a routerLink="/" class="home">Home</a></li>
                <li><a routerLink="/addImage">addImage</a></li>
                <li><a routerLink="/details">details</a></li>
                <li><a routerLink="/gallery">gallery</a></li>
                <li><a routerLink="/form">form</a></li>
                <li><button >
                    add category
                </button></li>
            </ul>
        </div>
    </div>
</div>

<app-add-category></app-add-category>