<div class="navbar-continer">
  <mat-list>
    <mat-list-item >
      <div class="logo"></div>
      <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item class="navbar-item">
      <button routerLink="/">home</button>
      <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item class="navbar-item">
      <button routerLink="/addImage">addImage</button>
      <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item class="navbar-item">
      <button routerLink="/gallery">gallery</button>
      <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item class="navbar-item">
      <button routerLink="/form">form</button>
      <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item class="navbar-item">
      <button (click)="taggleModal()">add category</button>
      <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item class="navbar-item">
      <button routerLink="/about">about</button>
      <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item class="navbar-item">
      <button routerLink="/private">enter private mode</button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
