
.top-toolbar{
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: var(--primary-color);
    height: 8vh;
}

.page-sidenav {
    width: 13vw;
    background-color: var(--primary-transparent-color);
}