<div>
  <form #imageForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <header class="details-card-header">
      <div class="details-card-title">
        <h2 mat-dialog-title>Image</h2>
        <input
          class="details-card-caption"
          type="text"
          required
          #caption="ngModel"
          [class.is-invalid]="caption.invalid && caption.touched"
          name="imageCaption"
          [(ngModel)]="image.caption"
        />
        <div *ngIf="caption.errors && (caption.invalid || caption.touched)">
          <small *ngIf="caption.errors.required">Caption is required</small>
        </div>
      </div>
      <button mat-dialog-close class="details-card-exist"><mat-icon>cancel</mat-icon></button>
    </header>

    <mat-dialog-content>
      <img
        class="details-card-img"
        [src]="'data:image/jpeg;base64,' + image.src"
      />

      <div class="details-card-options">

        <div >
          <select class="details-card-category" name="category" [(ngModel)]="image.categories">
            <option value="">No categories</option>
            <option *ngFor="let category of categories">{{ category }}</option>
          </select>
        </div>

        <button class="details-card-location" (click)="taggleMap()">
          <mat-icon>location_on</mat-icon>
        </button>
        <!-- <small *ngIf="isCoordsSelected">{{ image.location }}</small> -->

        <div class="details-card-favorite">
          <input name="favorite" [(ngModel)]="image.favorite" type="checkbox" />
          <mat-icon>grade</mat-icon>
        </div>

        <div class="details-card-private">
          <input name="private" [(ngModel)]="image.private" type="checkbox" />
          <mat-icon>lock</mat-icon>
        </div>

      </div>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button
        type="submit"
        [disabled]="imageForm.form.invalid"
        mat-raised-button
        class="details-card-save"
      >
        Save
      </button>
      <div *ngIf="isSubmitted">changes saved</div>
    </mat-dialog-actions>
  </form>
</div>
