<div class="modal-continer" *ngIf="visible">
  <form #imageForm="ngForm" (ngSubmit)="onSubmit()">

    <header class="modal-header">      
        <div class="modal-title">
            <input type="text" required #caption="ngModel"
             [class.is-invalid]="caption.invalid && caption.touched" name="imageCaption" [(ngModel)]="image.caption"/>    
        </div>     
        <div *ngIf="caption.errors && (caption.invalid || caption.touched)">
            <small *ngIf="caption.errors.required">Caption is required</small>
        </div>
        <button class="modal-exist" (click)="close()">X</button>
    </header>

    <section class="modal-body">

      <img class="modal-image" [src]="image.photo" />

      <div class="modal-details">

        <div class="modal-category">
            <select name="category" [(ngModel)]="image.categories">
                <option value="">No categories</option>
                <option *ngFor="let category of categories">{{category}}</option>
            </select>
        </div>
        <div class="modal-location">
            <input type="text" name="imageLocation" [(ngModel)]="image.location"/>    
        </div>     

        <div class="modal-favorite"> 
            <input name="favorite" [(ngModel)]="image.favorite" type="checkbox"/>
            <label>Favorite</label>
        </div>

        <div class="modal-private"> 
            <input name="private" [(ngModel)]="image.private" type="checkbox"/>
            <label>Private</label>
        </div>

      </div>
    </section>

    <footer>
      <button type="submit">Save</button>
      <div *ngIf="submitted">
        changes saved
      </div>
    </footer>
  </form>
</div>
