<div>
  <form class="details-card-continer" #imageForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <header class="details-card-header">

      <div class="details-card-title">

        <mat-form-field appearance="outline" mat-dialog-title class="details-card-caption">
          <mat-label>Image Caption</mat-label>
          <input
            matInput
            required
            #caption="ngModel"
            name="imageCaption"
            [(ngModel)]="image.caption"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="captionFormControl.hasError('required')">
            Caption is <strong>required</strong>
          </mat-error>
        </mat-form-field>

      </div>

      <button mat-icon-button mat-dialog-close class="details-card-exist">
        <mat-icon>cancel</mat-icon>
      </button>

    </header>

    <mat-dialog-content>
      <img
        class="details-card-img"
        [src]="'data:image/jpeg;base64,' + image.src"
      />

      <section class="details-card-options">
        
        <mat-form-field appearance="outline">
          <mat-label>Select category</mat-label>
          <mat-select
            name="category"
            #category
            [(ngModel)]="image.categories"
          >
            <mat-option value="">Without category</mat-option>
            <mat-option *ngFor="let category of categories" [value]="category">{{
              category
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-icon-button class="details-card-location" (click)="taggleMap()">
          <mat-icon>location_on</mat-icon>
        </button>
        <!-- <small *ngIf="isCoordsSelected">{{ image.location }}</small> -->

        <mat-button-toggle #favorite [checked]="favoriteFlag" (change)="favoriteFlag = $event.source.checked">
          <mat-icon>grade</mat-icon>
        </mat-button-toggle>

        <mat-button-toggle #private [checked]="privateFlag" (change)="privateFlag = $event.source.checked">
          <mat-icon>lock</mat-icon>
        </mat-button-toggle>

      </section>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button
        type="submit"
        [disabled]="imageForm.form.invalid"
        mat-raised-button
        class="details-card-save"
      >
        Save
      </button>
      <div *ngIf="isSubmitted">changes saved</div>
    </mat-dialog-actions>
  </form>
</div>
