
<div class="modal-continer" *ngIf="visible">

  <header class="modal-header">
    <h2>Add New Category</h2>
    <button class="modal-exist" (click)="close()">X</button>
  </header>

  <form #categoryForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <input
      type="text"
      placeholder="Category"
      required
      #category="ngModel"
      [class.is-invalid]="category.invalid && category.touched"
      name="imageCategory"
      [(ngModel)]="category.categories"
    />
    <div *ngIf="category.errors && (category.invalid || category.touched)">
      <small *ngIf="category.errors.required">category is required</small>
    </div>

    <button type="submit" [disabled]="categoryForm.form.invalid">Add</button>
  </form>
</div>
