
<div class="modal-continer" *ngIf="visible">

  <header class="modal-header">
    <h2>Add New Category</h2>
    <button class="modal-exist" (click)="close()">X</button>
  </header>

  <form #categoryForm="ngForm" novalidate>
    {{categoryForm.value|json}}
    <input
      type="text"
      placeholder="Category"
      required
      #category
      name="category"
      ngModel
      [class.is-invalid]="category.invalid && category.touched"
    />
    <div *ngIf="category.errors && (category.invalid || category.touched)">
      <small *ngIf="category.errors.required">category is required</small>
    </div>

    <button type="submit" [disabled]="categoryForm.form.invalid"
    (click)="onSubmit(category.value)">Add</button>
  </form>
</div>
