.modal-continer{
    position: relative;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: blanchedalmond;
    border-radius: 10px;
    border:1px solid black;
    
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(151, 136, 131);
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

