

.form-continer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 1.1rem;
}

.form-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-title{
    font-size: 2.8em;
    font-weight: 700;
    margin: 1.7em 0 1.6em 0;
}

.form-inputs{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    height: 20vh;
    width: 40vw;
    margin-bottom: 5em;
}


.form-name, .form-description{
    position: relative;
    width: 100%;
    height: 100%;
}

.form-inputs-title, 
.form-radio-title,
.form-checkboxes-title{
    position: relative;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.3em 0;
}


.form-display{
    width: 17vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 1em;
    margin-bottom: 1em;
}

.form-checkboxes{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-evenly;
    height: 25vh;
    margin-bottom: 2.5em;
}

.form-camera label,
.form-location label,
.form-private label{
    margin-left: 0.6em;
}
.form-camera small,
.form-location small,
.form-private small{
    margin-left: 1.8em;
    color: rgb(202, 91, 91);
}


.form-btns{
    width: 25vw;
    display: flex;
    justify-content: center;
}

.form-submit-btn{
    font-size: 1.2rem;
    font-weight: 500;
    height: 6vh;
    width: 10vw;
}



