
<div>
    <form class="form-continer" #libraryForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

        <mat-form-field appearance="fill">
            <mat-label>Library Name</mat-label>
            <input matInput required #name="ngModel" name="libraryName" [(ngModel)]="library.name"
            [errorStateMatcher]="matcher"/>
            <mat-error *ngIf="nameFormControl.hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Library Description</mat-label>
            <textarea  matInput #description="ngModel" [(ngModel)]="library.description" [ngModelOptions]="{standalone: true}"></textarea>
        </mat-form-field>

        <mat-radio-group name="template" #template [(ngModel)]="library.template">
            <mat-radio-button value="list">List</mat-radio-button>
            <mat-radio-button value="grid">Grid</mat-radio-button>
          </mat-radio-group>


        <div>
            <mat-checkbox #camera="ngModel" required [(ngModel)]="library.camera" name="camera"></mat-checkbox>
            <label>allow device camera</label>
            <div *ngIf="camera.errors && (camera.valid || camera.untouched)">
                <small *ngIf="camera.errors.required">camera is required</small>
            </div>
        </div>

        <div>
            <mat-checkbox #location="ngModel" required [(ngModel)]="library.location" name="location"></mat-checkbox>
            <label>allow device camera</label>
            <div *ngIf="location.errors && (location.invalid || location.touched)">
                <small *ngIf="location.errors.required">location is required</small>
            </div>
        </div>

        <div>
            <mat-checkbox #private="ngModel" required [(ngModel)]="library.private" name="private"></mat-checkbox>
            <label>allow device camera</label>
            <div *ngIf="private.errors && (private.invalid || private.touched)">
                <small *ngIf="private.errors.required">private is required</small>
            </div>
        </div>


        <button mat-raised-button [disabled]="libraryForm.form.invalid" type="submit">
            Create
        </button>

    </form>
</div>