<div class="navbar-continer">
    <mat-list>
      <mat-list-item class="navbar-top">
        <mat-divider></mat-divider>
      </mat-list-item>

      <mat-list-item class="navbar-item">
        <button routerLink="view" (click)="imagesNoPrivate()">Gallery</button>
        <mat-divider></mat-divider>
      </mat-list-item>

      <mat-list-item class="navbar-item">
        <button routerLink="addImage">Add Image</button>
        <mat-divider></mat-divider>
      </mat-list-item>
  
      <mat-list-item class="navbar-item">
        <button (click)="taggleCategoryModal()">Add Category</button>
        <mat-divider></mat-divider>
      </mat-list-item>
  
      <mat-list-item class="navbar-item">
        <button (click)="tagglePrivateModal()">Private Mode</button>
        <mat-divider></mat-divider>
      </mat-list-item>

      <mat-list-item class="navbar-item">
        <button routerLink="about">About</button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  