<div class="gallery-continer">

  <section *ngIf="!isCarousel">

    <section *ngIf="!displayType">
      <app-search
      class="gallery-filter"
    ></app-search>

    <div>
      <ul class="thumbnailsList">
        <li *ngFor="let image of images">
          <app-image-display [image]="image"></app-image-display>
        </li>
      </ul>
    </div>
    </section>

    <section class="images-list" *ngIf="displayType">
      <app-image-list [data]="images"></app-image-list>
    </section>


  </section>

  <section class="images-carousel" *ngIf="isCarousel">
    <app-carousel [images]="images"></app-carousel>
  </section>

  <div class="gallery-buttons">

    <div *ngIf="privateIcon" class="images-private-icon">
      <mat-icon>lock</mat-icon>
    </div>

    <div class="how-to-show">
      <button mat-fab color="accent" [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="dispalyAsGrid()">Show images on grid</button>
        <button mat-menu-item (click)="dispalyAsList()">Show images on list</button>
        <button mat-menu-item (click)="displayAsCarousel()">Start random slideshow</button>
      </mat-menu>
    </div>

    <div class="add-new-image">
      <button mat-fab color="accent" routerLink="/gallery/addImage">
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
    </div>

  </div>

</div>
