<div class="gallery-continer">

    <section>
      <app-search class="gallery-filter"></app-search>

      <div *ngIf="images">
        <ul class="thumbnailsList">
          <li *ngFor="let image of images">
            <app-image-display [image]="image"></app-image-display>
          </li>
        </ul>
      </div>
      <!-- <div *ngIf="images.length === 0">
        <div>hello</div>
      </div> -->
    </section>

  <div class="gallery-buttons">

    <div *ngIf="privateIcon" class="images-private-icon">
      <mat-icon>lock</mat-icon>
    </div>

    <div class="add-new-image">
      <button mat-fab color="accent" routerLink="/gallery/addImage">
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
    </div>

  </div>

</div>
