<div class="gallery-continer">
  <app-search (filterImages)="renderGallery($event)"></app-search>
  <br />

  <div>
    <ul class="thumbnailsList">
      <li *ngFor="let image of images">
        <app-image-display [image]="image"></app-image-display>
      </li>
    </ul>
  </div>

  <div class="add-new-image">
    <button mat-fab color="accent" routerLink="/addImage">
      <mat-icon>add_photo_alternate</mat-icon>
    </button>
  </div>

  <div>
    <button mat-fab color="accent" [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Show images on list / table</button>
      <button mat-menu-item>Start random slideshow</button>
    </mat-menu>
  </div>
</div>
