
<div *ngIf="isCameraExist" class="camera-continer">

    <section class="camera-view">
        <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
        [switchCamera]="nextWebcamObservable"></webcam>
    </section>

    <button mat-fab class="btn-take-picture" (click)="takeSnapshot()">
        <mat-icon>photo_camera</mat-icon>
    </button>

</div>

<div *ngIf="errors.length > 0">
    <h4>Error Messages:</h4>
    <ul *ngFor="let error of errors">
        <li>{{ error | json }}</li>
    </ul>
</div>

<div *ngIf="!isCameraExist" class="camera-not-found">
    Camera device not available
</div>