
.index-continer{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../../../assets/images/images_cover.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}



.index-title{
    display: inline;
    position: relative;
    top: 18%;
    font-size: 4.5rem;
    font-weight: 900;
}


.index-btn{
    display: inline;
    position: relative;
    top: 75%;
    height: 7vh;
    width: 15%;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 900;
}
/* .index-btn:hover{
    cursor: pointer;
    background-color: var(--hover-third-color);
}
.index-btn:active{
    cursor: pointer;
    background-color: var(--active-third-color);
} */


