<div class="gallery-search-continer">

  <mat-form-field appearance="outline">
    <mat-label>Select category</mat-label>
    <mat-select disableRipple
      name="category"
      #category
      [(value)]="selectedCategory"
      (selectionChange)="searchByCategory(category.value)"
    >
      <mat-option value="">Without category</mat-option>
      <mat-option *ngFor="let category of categories" [value]="category">{{
        category
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <app-search-text (searchOutput)="searchByText($event)"></app-search-text>

  <button mat-icon-button (click)="private()"><mat-icon>lock</mat-icon></button>
  <button mat-icon-button (click)="favorite()">
    <mat-icon>grade</mat-icon>
  </button>
</div>
