

<div>
    <div class="search-category">
        <select name="category" #category (change)="searchByCategory(category.value)">
            <option value=""></option>
            <option *ngFor="let category of categories" [value]="category">{{category}}</option>
        </select>
    </div>

    <app-search-text (searchOutput)="searchByText($event)"></app-search-text>

    <button (click)="private()"><mat-icon>lock</mat-icon></button>
    <button (click)="favorite()"><mat-icon>grade</mat-icon></button>
</div>
